<div>
	<h3>
		<i class="fa fa-fw fa-hand-peace-o" aria-hidden="true"></i> Anwesenheit
		<div class="dropdown btn-group" style="vertical-align: inherit;">
			<a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuState">{{event_name}}</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuState">
			  	<li><a href="#!/anwesenheit" ng-click="addEvent()"><b style="color:blue;">NEU...</b></a></li>
			  	<li role="separator" class="divider"></li>
			  	<li class="dropdown-header">Auftritte</li>
			  	<li ng-repeat="event in events"><a href="#!/anwesenheit/{{event.EVENT_ID}}">{{event.NAME}}</a></li>
			</ul>
		</div>
	</h3>
	<hr>

	<div>
		<table class="table table-striped" id="">
			<tbody>
				<tr ng-repeat="row in table_data">
					<td valign="middle">{{row.NAME}}</td>
					<td>
						<div class="btn-group" data-toggle="buttons" style="white-space: nowrap; min-width: 150px; width:100%;">
			                <label class="btn btn-default" ng-click="setAnwesenheit(row.MEMBER_ID, 'x')" id="x{{row.MEMBER_ID}}" >
			                    <input type="radio" name="anwesend[{{row.MEMBER_ID}}]" value="X" /> X
			                </label> 
			                <label class="btn btn-default" ng-click="setAnwesenheit(row.MEMBER_ID, 'e')" id="e{{row.MEMBER_ID}}">
			                    <input type="radio" name="anwesend[{{row.MEMBER_ID}}]" value="E" /> E
			                </label> 
			                <label class="btn btn-default" ng-click="setAnwesenheit(row.MEMBER_ID, 'o')" id="o{{row.MEMBER_ID}}">
			                    <input type="radio" name="anwesend[{{row.MEMBER_ID}}]" value="O" /> O
			                </label>
			            </div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>