<div>
	<h3>
		<i class="fa fa-fw fa-bookmark" aria-hidden="true"></i> Ehrungen
	</h3>
	<hr>

	<div class="panel panel-default">
		<div class="panel-heading">
		  <a data-toggle="collapse" href="" ng-click="toggleFilter()"><h3 class="panel-title"><i class="fa fa-filter" aria-hidden="true"></i> Filter</h3></a>
		</div>
		<div class="panel-body {{filter_open ? '' : 'collapse'}}" id="filters">
			<div class="col-md-6">
				<label for="search">Person suchen:</label><br>
				<input class="form-control" type="text" placeholder="Suche..." id="search" ng-model="filters.search" ng-change="filterList()"><br>&nbsp;
			</div>
			<div class="col-md-4">
				<label for="nextjub">Nächste Ehrung:</label><br>
				<input class="form-control" type="number" min="{{current_year + 1}}" step="1" placeholder="" id="nextjub" ng-model="filters.nextjub" ng-change="filterList()"><br>&nbsp;
			</div>
			<div class="col-md-3">
				<label>Geschlecht:</label><br>
				<label for="gender_m">männlich:</label> <input type="checkbox" name="gender" ng-model="filters.gender_m" id="gender_m" ng-change="filterList()" ng-true-value="1" ng-false-value="0">&nbsp;&nbsp;&nbsp;
				<label for="gender_w">weiblich:</label> <input type="checkbox" name="gender" ng-model="filters.gender_w" id="gender_w" ng-change="filterList()" ng-true-value="1" ng-false-value="0"><br>&nbsp;
			</div>
			<div class="col-md-3">
				<label>Altersgruppe:</label><br>
				<label for="age_adult">Erwachsener:</label> <input type="checkbox" name="age" id="age_adult" value="adult" ng-model="filters.age_adult" ng-change="filterList()" ng-true-value="1" ng-false-value="0">&nbsp;&nbsp;&nbsp;
				<label for="age_child">Kind:</label> <input type="checkbox" name="age" id="age_child" value="child" ng-model="filters.age_child" ng-change="filterList()" ng-true-value="1" ng-false-value="0"><br>&nbsp;
			</div>
			<div class="col-md-3">
				<label>Instrument:</label><br>
				<select id="instrument" ng-model="filters.instrument" ng-change="filterList()">
					<option value="all">Alle</option>
					<option value="Flöte">Flöte</option>
					<option value="Lyra">Lyra</option>
					<option value="Trommel">Trommel</option>
					<option value="Pauke">Pauke</option>
					<option value="Becken">Becken</option>
				</select><br>&nbsp;
			</div>
		</div>
	</div>

	<div>
		<table class="table table-striped" id="historydatatable">
			<thead>
				<tr>
					<th>Mitglied</th>
					<th align="center">Eintrittsjahr</th>
					<th align="center">Jahre</th>
					<th align="center">10 Jahre (Bronze)</th>
					<th align="center">20 Jahre (Silber)</th>
					<th align="center">25 Jahre (Gold)</th>
					<th align="right">nächste</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in table_data">
					<td>{{row.NAME}}</td>
					<td align="center">{{row.START_YEAR}}</td>
					<td align="center">{{row.AKTIVE_JAHRE}}</td>
					<td align="center">{{row.JUB10}}</td>
					<td align="center">{{row.JUB20}}</td>
					<td align="center">{{row.JUB25}}</td>
					<td align="right">{{row.NEXT_JUB}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="well">Anzahl Mitglieder: {{table_data.length}}</div>
</div>