<div>
	<div class="dropdown btn-group" style="float:right; display:none;">
		<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu1">aktuell</button>
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
          <li class="active"><a href="#">aktuell</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">2016</a></li>
          <li><a href="#">2015</a></li>
        </ul>
	</div>
	
	<h3>
		<a style="float:right; margin:0 0 0 3px;" class="btn btn-default" ng-click="csvExport()"><i class="fa fa-download fa-lg" aria-hidden="true"></i> Excel-Export</a>
		<a href="#!/mitglied/new?state={{filters.state}}" style="float:right; margin:0 0 0 3px;" class="btn btn-success"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Neu</a>
		
		<i class="fa fa-fw fa-list" aria-hidden="true"></i> Mitgliederliste
		<div class="dropdown btn-group" style="vertical-align: inherit;">
			<a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuState">{{filters.state}}</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuState">
			  	<li><a href="#!/mitglieder/aktiv">aktiv</a></li>
				<li><a href="#!/mitglieder/passiv">passiv</a></li>
				<li><a href="#!/mitglieder/Ausbildung">Ausbildung</a></li>
				<li><a href="#!/mitglieder/Vorstand">Vorstand</a></li>
				<li><a href="#!/mitglieder/Ehemalig">Ehemalig</a></li>
				<li><a href="#!/mitglieder/verstorbene">verstorbene</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#!/mitglieder/alle">ALLE</a></li>
			</ul>
		</div>
	</h3>
	<hr>

	<div class="panel panel-default">
		<div class="panel-heading">
		  <a data-toggle="collapse" href="" ng-click="toggleFilter()"><h3 class="panel-title"><i class="fa fa-filter" aria-hidden="true"></i> Filter</h3></a>
		</div>
		<div class="panel-body {{filter_open ? '' : 'collapse'}}" id="filters">
			<div class="col-md-8">
				<div class="mbottom">
					<label for="search">Person suchen:</label><br>
					<div class="input-group">
						<input class="form-control" type="text" placeholder="Suche..." id="search" ng-model="filters.search" ng-change="filterList()">
						<a href="" ng-click="clearSearch()" class="input-group-addon"><i class="fa fa-times-circle fa-lg" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-4">
					<label>Geschlecht:</label><br>
					<label for="gender_m">männlich:</label> <input type="checkbox" name="gender" ng-model="filters.gender_m" id="gender_m" ng-change="filterList()" ng-true-value="1" ng-false-value="0">&nbsp;&nbsp;&nbsp;
					<label for="gender_w">weiblich:</label> <input type="checkbox" name="gender" ng-model="filters.gender_w" id="gender_w" ng-change="filterList()" ng-true-value="1" ng-false-value="0"><br>&nbsp;
				</div>
				<div class="col-md-4">
					<label>Altersgruppe:</label><br>
					<label for="age_adult">Erwachsener:</label> <input type="checkbox" name="age" id="age_adult" value="adult" ng-model="filters.age_adult" ng-change="filterList()" ng-true-value="1" ng-false-value="0">&nbsp;&nbsp;&nbsp;
					<label for="age_child">Kind:</label> <input type="checkbox" name="age" id="age_child" value="child" ng-model="filters.age_child" ng-change="filterList()" ng-true-value="1" ng-false-value="0"><br>&nbsp;
				</div>
				<div class="col-md-4">
					<label for="instrument">Instrument:</label><br>
					<select id="instrument" ng-model="filters.instrument" ng-change="filterList()">
						<option value="all">Alle</option>
						<option value="Flöte">Flöte</option>
						<option value="Lyra">Lyra</option>
						<option value="Trommel">Trommel</option>
						<option value="Pauke">Pauke</option>
						<option value="Becken">Becken</option>
					</select><br>&nbsp;
				</div>
			</div>
			<div class="col-md-4 mbottom">
				<label>Spalten:</label><br>
				<div class="input-group" style="width:100%;">
					<input type="checkbox" id="show_address" ng-model="show_address">&nbsp;Adresse<br>
					<input type="checkbox" id="show_age" ng-model="show_age">&nbsp;Geburtstag<br>
					<input type="checkbox" id="show_instrument" ng-model="show_instrument">&nbsp;Instrument<br>
					<input type="checkbox" id="show_contact" ng-model="show_contact">&nbsp;Kontaktdaten
				</div>
			</div>
			
		</div>
	</div>

	<table class="table table-striped responsive">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col"><a href="" class="sorter {{current_sort_field == 'LASTNAME' ? 'active_sorter' : ''}}" id="SORTER_LASTNAME" ng-click="sortBy('LASTNAME')">Nachname <i class="fa fa-fw {{current_sort_field == 'LASTNAME' ? 'fa-sort-' + current_sort_dir : 'fa-sort'}}" aria-hidden="true"></i></a></th>
				<th scope="col"><a href="" class="sorter {{current_sort_field == 'FIRSTNAME' ? 'active_sorter' : ''}}" id="SORTER_FIRSTNAME" ng-click="sortBy('FIRSTNAME')">Vorname <i class="fa fa-fw {{current_sort_field == 'FIRSTNAME' ? 'fa-sort-' + current_sort_dir : 'fa-sort'}}" aria-hidden="true"></i></a></th>
				<th scope="col"><a href="" class="sorter {{current_sort_field == 'GENDER' ? 'active_sorter' : ''}}" id="SORTER_GENDER" ng-click="sortBy('GENDER')"><i class="fa fa-venus-mars" aria-hidden="true" aria-label="Geschlecht"></i> <i class="fa fa-fw {{current_sort_field == 'GENDER' ? 'fa-sort-' + current_sort_dir : 'fa-sort'}}" aria-hidden="true"></i></a></th>
				<th scope="col" ng-if="show_address">Adresse</th>
				<th scope="col" ng-if="show_age"><a href="" class="sorter {{current_sort_field == 'BIRTHDATE' ? 'active_sorter' : ''}}" id="SORTER_BIRTHDATE" ng-click="sortBy('BIRTHDATE')">Geburtstag <i class="fa fa-fw {{current_sort_field == 'BIRTHDATE' ? 'fa-sort-' + current_sort_dir : 'fa-sort'}}" aria-hidden="true"></i></a></th>
				<th scope="col"><a href="" class="sorter {{current_sort_field == 'STATE' ? 'active_sorter' : ''}}" id="SORTER_STATE" ng-click="sortBy('STATE')">Status <i class="fa fa-fw {{current_sort_field == 'STATE' ? 'fa-sort-' + current_sort_dir : 'fa-sort'}}" aria-hidden="true"></i></a></th>
				<th scope="col" ng-if="show_instrument"><a href="" class="sorter {{current_sort_field == 'INSTRUMENT' ? 'active_sorter' : ''}}" id="SORTER_INSTRUMENT" ng-click="sortBy('INSTRUMENT')">Instrument <i class="fa fa-fw {{current_sort_field == 'INSTRUMENT' ? 'fa-sort-' + current_sort_dir : 'fa-sort'}}" aria-hidden="true"></i></a></th>
				<th scope="col" ng-if="show_contact">Kontaktdaten</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody id="memberlist">
			<tr class="simple" ng-repeat="row in rows">
				<td data-label="#" class="hideResponsiveSimple"><!-- {{$index +1}} -->{{row.index}}</td>
				<td data-label="Nachname" class="responsive_bolder">{{row.LASTNAME}} {{row.DEADSIGN}}<br><span class="birthname">{{row.BIRTHNAME}}</span></td>
				<td data-label="Vorname">{{row.FIRSTNAME}}</td>
				<td data-label="Geschlecht" class="hideResponsiveSimple"><div gender-sign></div></td>
				<td data-label="Adresse" class="hideResponsiveSimple" ng-if="show_address">
					<div>{{row.STREET}}<span ng-if="row.STREET.length > 0 && row.ZIP.length + row.CITY.length > 0"> <br></span>{{row.ZIP}} {{row.CITY}}</div>
				</td>
				<td data-label="Geburtstag" class="hideResponsiveSimple" ng-if="show_age">{{row.BIRTHDATE | date:'mediumDate'}} <br>{{row.AGE}}</td>
				<td data-label="Status" class="hideResponsiveSimple">{{row.CURRENT_STATE}}</td>
				<td data-label="Instrument" class="hideResponsiveSimple" ng-if="show_instrument">{{row.INSTRUMENT}}</td>
				<td data-label="Kontaktdaten" class="hideResponsiveSimple" ng-if="show_contact">
					<div ng-repeat="(type, value) in row.CONTACT" class="contactdata {{type}}"><div contact-information type="type" value="value"></div></div>
				</td>
				<td>
					<a href="#!/mitglied/{{row.MEMBER_ID}}?state={{filters.state}}" title="Details" class="editlink"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" aria-label="Details"></i></a>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="well">
		<div class="btn btn-sm btn-primary {{page <= 1 ? 'disabled' : ''}}" ng-click="firstPage()"><i class="fa fa-step-backward" aria-hidden="true"></i></div>
		<div class="btn btn-sm btn-primary {{page <= 1 ? 'disabled' : ''}}" ng-click="previousPage()"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
		&nbsp; Seite {{page}} / {{max_pages}} &nbsp;
		<div class="btn btn-sm btn-primary {{page >= max_pages ? 'disabled' : ''}}" ng-click="nextPage()"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
		<div class="btn btn-sm btn-primary {{page >= max_pages ? 'disabled' : ''}}" ng-click="lastPage()"><i class="fa fa-step-forward" aria-hidden="true"></i></div>
		&nbsp; Anzahl Mitglieder {{filters.state}}: {{all.length}} von {{getTotalUnfiltered()}}
	</div>
</div>







