<div>
	<div class="dropdown btn-group" style="float:right; display:none;">
		<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu1">aktuell</button>
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
          <li class="active"><a href="#">aktuell</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">2016</a></li>
          <li><a href="#">2015</a></li>
        </ul>
	</div>
	
	<h3><a href="#!/mitglied/new?state={{filters.state}}" style="float:right;" class="btn btn-primary"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Neu</a>
		<i class="fa fa-fw fa-list" aria-hidden="true"></i> Mitgliederliste
		<div class="dropdown btn-group" style="vertical-align: inherit;">
			<a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuState">{{filters.state}}</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuState">
			  	<li><a href="#!/mitglieder/aktiv">aktiv</a></li>
				<li><a href="#!/mitglieder/passiv">passiv</a></li>
				<li><a href="#!/mitglieder/Ausbildung">Ausbildung</a></li>
				<li><a href="#!/mitglieder/Vorstand">Vorstand</a></li>
				<li><a href="#!/mitglieder/Ehemalig">Ehemalig</a></li>
				<li><a href="#!/mitglieder/verstorbene">verstorbene</a></li>
			</ul>
		</div>
	</h3>
	<hr>

	<div class="panel panel-default">
		<div class="panel-heading">
		  <a data-toggle="collapse" href="" ng-click="toggleFilter()"><h3 class="panel-title"><i class="fa fa-filter" aria-hidden="true"></i> Filter</h3></a>
		</div>
		<div class="panel-body {{filter_open ? '' : 'collapse'}}" id="filters">
			<div class="col-md-10 mbottom">
				<label for="search">Person suchen:</label><br>
				<div class="input-group">
					<input class="form-control" type="text" placeholder="Suche..." id="search" ng-model="filters.search" ng-change="filterList()">
					<a href="" ng-click="clearSearch()" class="input-group-addon"><i class="fa fa-times-circle fa-lg" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-md-3">
				<label>Geschlecht:</label><br>
				<label for="gender_m">männlich:</label> <input type="checkbox" name="gender" ng-model="filters.gender_m" id="gender_m" ng-change="filterList()" ng-true-value="1" ng-false-value="0">&nbsp;&nbsp;&nbsp;
				<label for="gender_w">weiblich:</label> <input type="checkbox" name="gender" ng-model="filters.gender_w" id="gender_w" ng-change="filterList()" ng-true-value="1" ng-false-value="0"><br>&nbsp;
			</div>
			<div class="col-md-3">
				<label>Altersgruppe:</label><br>
				<label for="age_adult">Erwachsener:</label> <input type="checkbox" name="age" id="age_adult" value="adult" ng-model="filters.age_adult" ng-change="filterList()" ng-true-value="1" ng-false-value="0">&nbsp;&nbsp;&nbsp;
				<label for="age_child">Kind:</label> <input type="checkbox" name="age" id="age_child" value="child" ng-model="filters.age_child" ng-change="filterList()" ng-true-value="1" ng-false-value="0"><br>&nbsp;
			</div>
			<div class="col-md-3">
				<label>Instrument:</label><br>
				<label for="instrument_floete">Flöte:</label> <input type="checkbox" name="age" id="instrument_floete" value="floete" ng-model="filters.instrument_floete" ng-change="filterList()" ng-true-value="1" ng-false-value="0">&nbsp;&nbsp;&nbsp;
				<label for="instrument_trommel">Trommel:</label> <input type="checkbox" name="age" id="instrument_trommel" value="trommel" ng-model="filters.instrument_trommel" ng-change="filterList()" ng-true-value="1" ng-false-value="0"><br>&nbsp;
			</div>
		</div>
	</div>

	<table class="table table-striped responsive">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col"><a href="" class="sorter {{current_sort_field == 'LASTNAME' ? 'active_sorter' : ''}}" id="SORTER_LASTNAME" ng-click="sortBy('LASTNAME')">Nachname <i class="fa fa-fw {{current_sort_field == 'LASTNAME' ? 'fa-sort-' + current_sort_dir : 'fa-sort'}}" aria-hidden="true"></i></a></th>
				<th scope="col"><a href="" class="sorter {{current_sort_field == 'FIRSTNAME' ? 'active_sorter' : ''}}" id="SORTER_FIRSTNAME" ng-click="sortBy('FIRSTNAME')">Vorname <i class="fa fa-fw {{current_sort_field == 'FIRSTNAME' ? 'fa-sort-' + current_sort_dir : 'fa-sort'}}" aria-hidden="true"></i></a></th>
				<th scope="col"><a href="" class="sorter {{current_sort_field == 'GENDER' ? 'active_sorter' : ''}}" id="SORTER_GENDER" ng-click="sortBy('GENDER')"><i class="fa fa-venus-mars" aria-hidden="true" aria-label="Geschlecht"></i> <i class="fa fa-fw {{current_sort_field == 'GENDER' ? 'fa-sort-' + current_sort_dir : 'fa-sort'}}" aria-hidden="true"></i></a></th>
				<th scope="col">Adresse</th>
				<th scope="col"><a href="" class="sorter {{current_sort_field == 'BIRTHDATE' ? 'active_sorter' : ''}}" id="SORTER_BIRTHDATE" ng-click="sortBy('BIRTHDATE')">Geburtstag <i class="fa fa-fw {{current_sort_field == 'BIRTHDATE' ? 'fa-sort-' + current_sort_dir : 'fa-sort'}}" aria-hidden="true"></i></a></th>
				<th scope="col"><a href="" class="sorter {{current_sort_field == 'STATE' ? 'active_sorter' : ''}}" id="SORTER_STATE" ng-click="sortBy('STATE')">Status <i class="fa fa-fw {{current_sort_field == 'STATE' ? 'fa-sort-' + current_sort_dir : 'fa-sort'}}" aria-hidden="true"></i></a></th>
				<th scope="col"><a href="" class="sorter {{current_sort_field == 'INSTRUMENT' ? 'active_sorter' : ''}}" id="SORTER_INSTRUMENT" ng-click="sortBy('INSTRUMENT')">Instrument <i class="fa fa-fw {{current_sort_field == 'INSTRUMENT' ? 'fa-sort-' + current_sort_dir : 'fa-sort'}}" aria-hidden="true"></i></a></th>
				<th scope="col">Kontaktdaten</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody id="memberlist">
			<tr class="simple" ng-repeat="row in rows">
				<td data-label="#" class="hideResponsiveSimple">{{$index +1}}</td>
				<td data-label="Nachname" class="responsive_bolder">{{row.LASTNAME}} {{row.DEADSIGN}}<br><span class="birthname">{{row.BIRTHNAME}}</span></td>
				<td data-label="Vorname">{{row.FIRSTNAME}}</td>
				<td data-label="Geschlecht" class="hideResponsiveSimple"><div gender-sign></div></td>
				<td data-label="Adresse" class="hideResponsiveSimple">
					<div>{{row.STREET}} <br>{{row.ZIP}} {{row.CITY}}</div>
				</td>
				<td data-label="Geburtstag" class="hideResponsiveSimple">{{row.BIRTHDATE | date:'mediumDate'}} <br>{{row.AGE}}</td>
				<td data-label="Status" class="hideResponsiveSimple">{{row.CURRENT_STATE}}</td>
				<td data-label="Instrument" class="hideResponsiveSimple">{{row.INSTRUMENT}}</td>
				<td data-label="Kontaktdaten" class="hideResponsiveSimple">
					<div ng-repeat="(type, value) in row.CONTACT" class="contactdata {{type}}"><div contact-information type="type" value="value"></div></div>
				</td>
				<td>
					<a href="#!/mitglied/{{row.MEMBER_ID}}?state={{filters.state}}" title="Details" class="editlink"><i class="fa fa-pencil-square-o" aria-hidden="true" aria-label="Details"></i></a>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="well">Anzahl Mitglieder {{filters.state}}: {{rows.length}} von {{getTotalUnfiltered()}}</div>
</div>







