<div id="memberdetail">
	<h3>
		<i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> {{title}}
	</h3>
	<hr>

	<form>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h3 class="panel-title">Personendaten</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="col-md-12 mbottom">
							<label class="label label-default" for="firstname">Vorname: </label>
							<input type="text" value="{{member.FIRSTNAME}}" id="firstname" placeholder="Vorname" class="form-control" ng-model="member.FIRSTNAME" ng-required="required">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-md-12 mbottom">
							<label class="label label-default" for="lastname">Nachname: </label>
							<input type="text" value="{{member.LASTNAME}}" id="lastname" placeholder="Nachname" class="form-control" ng-model="member.LASTNAME" ng-required="required">
						</div>
						<div class="col-md-12 mbottom">
							<label class="label label-default" for="birthname">Geburtsname: </label>
							<input type="text" value="{{member.LASTNAME}}" id="birthname" placeholder="Geburtsname" class="form-control" ng-model="member.BIRTHNAME">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-12 mbottom">
							<label class="label label-default" for="gender">Geschlecht: </label>
							<select id="gender" class="form-control" ng-model="member.GENDER" ng-required="required">
								<option value="">-----</option>
								<option value="w">weiblich</option>
								<option value="m">männlich</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="col-xs-6 mbottom">
							<label class="label label-default" for="birthdate">Geburtsdatum: </label>
							<datepicker date-set="{{member.BIRTHDATE}}" date-format="yyyy-MM-dd" selector="form-control" date-week-start-day="1" date-typer="true">
								<div class="input-group date" default-view-date="BIRTHDATE">
									<input ng-model="member.BIRTHDATE" type="text" ng-required="required" id="birthdate" class="form-control"/>
									<a href="" class="input-group-addon"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></a>
								</div>
							</datepicker>
						</div>
						<div class="col-xs-6 mbottom">
							<label class="label label-default" for="deathdate">gestorben: </label>
							<datepicker date-set="{{member.DEATHDATE}}" date-format="yyyy-MM-dd" selector="form-control" date-week-start-day="1">
								<div class="input-group date" default-view-date="DEATHDATE">
									<input ng-model="member.DEATHDATE" type="text" id="deathdate" class="form-control"/>
									<a href="" class="input-group-addon"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></a>
								</div>
							</datepicker>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12 mbottom">
							<label class="label label-default" for="street">Anschrift: </label>
							<input type="text" value="{{member.STREET}}" id="street" placeholder="Straße & Hausnummer" class="form-control" ng-model="member.STREET">
						</div>
						<div class="col-xs-4 mbottom">
							<label class="label label-default" for="zip">PLZ: </label>
							<input type="text" value="{{member.ZIP}}" id="zip" placeholder="PLZ" class="form-control" ng-model="member.ZIP">
						</div>
						<div class="col-xs-8 mbottom">
							<label class="label label-default" for="city">Ort: </label>
							<input type="text" value="{{member.CITY}}" id="city" placeholder="Ort" class="form-control" ng-model="member.CITY">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12 mbottom">
							<label class="label label-default" for="instrument">Instrument: </label>
							<input type="text" value="{{member.INSTRUMENT}}" id="instrument" placeholder="Instrument" class="form-control" ng-model="member.INSTRUMENT">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
			  <h3 class="panel-title">Kontaktdaten</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12 mbottom">
							<label class="label label-default" for="phone">Telefon: </label>
							<input type="text" value="{{member.CONTACT.phone}}" id="phone" class="form-control" ng-model="member.CONTACT.phone">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12 mbottom">
							<label class="label label-default" for="mobile">Mobil: </label>
							<input type="text" value="{{member.CONTACT.mobile}}" id="mobile" class="form-control" ng-model="member.CONTACT.mobile">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12 mbottom">
							<label class="label label-default" for="email">E-Mail: </label>
							<input type="text" value="{{member.CONTACT.email}}" id="email" class="form-control" ng-model="member.CONTACT.email">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
			  <h3 class="panel-title">Mitgliedschaft</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Art</th>
							<th align="center">von</th>
							<th align="center">bis</th>
							<th align="right"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="state in member.STATES">
							<td>
								<select ng-model="state.STATE" class="form-control" ng-required="required">
									<option value="aktiv">aktiv</option>
									<option value="passiv">passiv</option>
									<option value="Ausbildung">Ausbildung</option>
									<optgroup label="Vorstand">
										<option value="1vorsitz">1. Vorsitzender</option>
										<option value="2vorsitz">2. Vorsitzender</option>
										<option value="schrift">Schriftführer</option>
										<option value="kassierer">Kassierer</option>
										<option value="major">Tambourmajor</option>
									</optgroup>
								</select>
							</td>
							<td align="center">
								<div>
									<datepicker date-set="{{state.START_DATE}}" date-format="yyyy-MM-dd" selector="form-control" date-week-start-day="1">
										<div class="input-group date" default-view-date="state.START_DATE">
											<input ng-model="state.START_DATE" type="text" class="form-control" ng-required="required"/>
											<a href="" class="input-group-addon"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></a>
										</div>
									</datepicker>
								</div>
							</td>
							<td align="center">
								<div>
									<datepicker date-set="{{state.END_DATE}}" date-format="yyyy-MM-dd" selector="form-control" date-week-start-day="1">
										<div class="input-group date" default-view-date="state.END_DATE">
											<input ng-model="state.END_DATE" type="text" class="form-control"/>
											<a href="" class="input-group-addon"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></a>
										</div>
									</datepicker>
								</div>
							</td>
							<td align="right">
								<a href="" ng-click="deleteState(state.MEMBERSHIP_ID)" title="Diesen Status löschen" class="btn btn-danger onhover"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></a>
							</td>
						</tr>
						<tr>
							<td colspan="4">
								<a href="" ng-click="addState()" class="btn btn-sm btn-default"><i class="fa fa-plus-circle" aria-hidden="true"></i> Mitgliedschafts-Status hinzufügen</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="col-md-2"></div>
				<div class="col-md-10 mbottom" style="text-align: right;">
					<button type="button" class="btn btn-sm btn-primary" ng-click="save()">Speichern</button>
					<button type="button" class="btn btn-sm btn-default" ng-click="cancel()">Abbrechen</button>
					<button type="button" class="btn btn-sm btn-danger"  ng-click="delete()">Löschen</button>
				</div>
			</div>
		</div>
	</form>
</div>







