<div class="panel panel-default">
	<div class="panel-heading">
	  <a data-toggle="collapse" href="#filters"><h3 class="panel-title"><i class="fa fa-filter" aria-hidden="true"></i> Filter</h3></a>
	</div>
	<div class="panel-body collapse" id="filters">
		<div class="col-md-6">
			<label for="search">Person suchen:</label><br>
			<input class="form-control" type="text" name="search" id="search" placeholder="Suche..." id="search" onkeyup="getMembers();">
			<br>&nbsp;
		</div>
		<div class="col-md-3">
			<label>Status:</label><br>
			<input type="radio" name="state[]" value="aktiv" id="state_aktiv" onchange="getMembers();" checked> <label for="state_aktiv">aktiv</label><br>
			<input type="radio" name="state[]" value="passiv" id="state_passiv" onchange="getMembers();"> <label for="state_passiv">passiv</label><br>
			<input type="radio" name="state[]" value="ehemalig" id="state_ehemalig" onchange="getMembers();"> <label for="state_ehemalig">Ehemalig</label><br>
			<input type="radio" name="state[]" value="vorstand" id="state_vorstand" onchange="getMembers();"> <label for="state_vorstand">Vorstand</label><br>
			<input type="radio" name="state[]" value="ausbildung" id="state_ausbildung" onchange="getMembers();"> <label for="state_ausbildung">Ausbildung</label><br>
			<input type="radio" name="state[]" value="verstorben" id="state_verstorben" onchange="getMembers();"> <label for="state_verstorben">verstorben</label>
		</div>
		<div class="col-md-3">
			<label>Geschlecht:</label><br>
			<label for="gender_m">männlich:</label> <input type="checkbox" name="gender[]" value="m" id="gender_m" onchange="getMembers();" checked>&nbsp;&nbsp;&nbsp;
			<label for="gender_w">weiblich:</label> <input type="checkbox" name="gender[]" value="w" id="gender_w" onchange="getMembers();" checked><br>
			<br>
			<label>Altersgruppe:</label><br>
			<label for="age_adult">Erwachsener:</label> <input type="checkbox" name="age[]" value="adult" id="age_adult" onchange="getMembers();" checked>&nbsp;&nbsp;&nbsp;
			<label for="age_child">Kind:</label> <input type="checkbox" name="age[]" value="child" id="age_child" onchange="getMembers();" checked>
			<br>&nbsp;
		</div>
	</div>
</div>


<table class="table table-striped responsive">
	<thead>
	<tr>
		<!-- <th>#</th> -->
		<th scope="col"><a href="#" class="sorter" id="SORTER_LASTNAME" onclick="membersSortBy('LASTNAME');">Nachname <i class="fa fa-fw fa-sort sortindicator" aria-hidden="true"></i></a></th>
		<th scope="col"><a href="#" class="sorter" id="SORTER_FIRSTNAME" onclick="membersSortBy('FIRSTNAME');">Vorname <i class="fa fa-fw fa-sort sortindicator" aria-hidden="true"></i></a></th>
		<th scope="col"><a href="#" class="sorter" id="SORTER_GENDER" onclick="membersSortBy('GENDER');"><i class="fa fa-venus-mars" aria-hidden="true" aria-label="Geschlecht"></i> <i class="fa fa-fw fa-sort sortindicator" aria-hidden="true"></i></a></th>
		<th scope="col">Adresse</th>
		<th scope="col"><a href="#" class="sorter" id="SORTER_BIRTHDATE" onclick="membersSortBy('BIRTHDATE');">Geburtstag <i class="fa fa-fw fa-sort sortindicator" aria-hidden="true"></i></a></th>
		<th scope="col"><a href="#" class="sorter" id="SORTER_STATE" onclick="membersSortBy('STATE');">Status <i class="fa fa-fw fa-sort sortindicator" aria-hidden="true"></i></a></th>
		<th scope="col">Kontaktdaten</th>
	</tr>
	</thead>
	<tbody id="memberlist"></tbody>
</table>