<div>
	<h3>Aktuelle Mitgliederstatistik</h3>
	<p>
		<button type="button" class="btn btn-{{mode == 'gender' ? 'success' : 'default'}}" ng-click="setMode('gender')"><i class="fa fa-venus-mars" aria-hidden="true"></i> Nach Geschlecht</button>
		<button type="button" class="btn btn-{{mode == 'age' ? 'success' : 'default'}}" ng-click="setMode('age')"><i class="fa fa-users" aria-hidden="true"></i> Nach Alter</button>
		<button type="button" class="btn btn-{{mode == 'state' ? 'success' : 'default'}}" ng-click="setMode('state')"><i class="fa fa-link" aria-hidden="true"></i> Nach Status</button>
	</p>
	<hr>

	<div class="col-md-4">

		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th align="right">Anzahl</th>
					<th align="right">Anteil</th>
				</tr>
			</thead>
			<tbody id="statsNowLegend">
				<tr ng-repeat="value in values">
					<th style="border-left: 10px solid {{value.color}}">{{value.label}}</th>
					<td align="right">{{value.value}}</td>
					<td align="right">{{value.percentage}}%</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>Gesamt:</th>
					<th align="right">{{total}}</th>
					<th align="right">100%</th>
				</tr>
			</tfoot>
		</table>

		<h4 style="display: {{mode == 'age' ? '' : 'none'}};"><span class="label label-info">aktuelles Durchschnittsalter: {{average}} Jahre</span></h4>

		<div>&nbsp;</div>
	</div>
	<div class="col-md-8" id="chartcontainer">
		<canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-colors="colors" chart-options="chartoptions" chart-legend="true" style="max-width:500px;"></canvas>
	</div>

	<div class="{{mode == 'state' ? 'hidden' : ''}}">
		&nbsp;<hr>&nbsp;
		<div class="col-md-2"><input type="radio" name="state" ng-model="filters.state" id="state_alle" ng-change="load()" value="alle"> <label for="state_alle">Alle</label></div>
		<div class="col-md-2"><input type="radio" name="state" ng-model="filters.state" id="state_aktiv" ng-change="load()" value="aktiv"> <label for="state_aktiv">aktiv</label></div>
		<div class="col-md-2"><input type="radio" name="state" ng-model="filters.state" id="state_passiv" ng-change="load()" value="passiv"> <label for="state_passiv">passiv</label></div>
		<div class="col-md-2"><input type="radio" name="state" ng-model="filters.state" id="state_ausbildung" ng-change="load()" value="Ausbildung"> <label for="state_ausbildung">Ausbildung</label></div>
	</div>
</div>







