<div class="panel panel-default">
	<div class="panel-heading">
	  <a data-toggle="collapse" href="#filters"><h3 class="panel-title"><i class="fa fa-filter" aria-hidden="true"></i> Status</h3></a>
	</div>
	<div class="panel-body collapse" id="filters">
		<input type="radio" name="state[]" value="aktiv" id="state_aktiv" onchange="getCurrentStats();" checked> <label for="state_aktiv">aktiv</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		<input type="radio" name="state[]" value="passiv" id="state_passiv" onchange="getCurrentStats();"> <label for="state_passiv">passiv</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		<input type="radio" name="state[]" value="ehemalig" id="state_ehemalig" onchange="getCurrentStats();"> <label for="state_ehemalig">Ehemalig</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		<input type="radio" name="state[]" value="vorstand" id="state_vorstand" onchange="getCurrentStats();"> <label for="state_vorstand">Vorstand</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		<input type="radio" name="state[]" value="ausbildung" id="state_ausbildung" onchange="getCurrentStats();"> <label for="state_ausbildung">Ausbildung</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		<input type="radio" name="state[]" value="verstorben" id="state_verstorben" onchange="getCurrentStats();"> <label for="state_verstorben">verstorben</label>
	</div>
</div>

<div class="col-md-2">
	<input type="radio" name="mode[]" value="gender" id="mode_gender" onchange="getCurrentStats();" checked> <label for="mode_gender">Nach Geschlecht</label><br>
	<input type="radio" name="mode[]" value="age" id="mode_age" onchange="getCurrentStats();"> <label for="mode_age">Nach Alter</label><br>
</div>
<div class="col-md-8" id="chartcontainer"></div>